
.footer{
    position: relative;
    width: 100%;
    bottom: 0%;
}
.footerPara{
    background-color: black;
    color: white;
    padding: 2%;
    text-align: center;
    word-spacing: 5px;
}
#heartFont{
    color: red;
}